%div{:class => "articles"}
  %a{:href => "/articles/new"} New Article 
  %div{:class => "article"}
    - @articles.each do |article|
      %h2 
        %a{:href => "/article/#{article.permalink}" }
          = article.title
      %div{:class => "article_text"}
        = article.short_text
      %span{:class => "article_by"} 
        %h4= article.written_by
      %span{:class => "article_created_at"} 
        %h4= article.written_on
      %span{:class => "article_tags"}
        Tags: 
        -article.tags.each do |tag| 
          = tag.name
       