%div{:id => "new_article"}
  %h3 Edit Article
  %form{:id => "article_form", :method => "post", :action => "/articles/update/#{@article.permalink}"}
    %label Title:
    %br
    %input{:id => "article_title", :name => "article_title", :type => "text", :value => "#{@article.title}"} 
    %br
    %label Text:
    %br
    %textarea{:id => "article_text", :name => "article_text", :cols => "40" , :rows => "15"} 
      = @article.text
    %br
    %lable Posted by:
    %br
    %input{:id => "article_posted_by", :name => "article_posted_by", :type => "text", :value => "#{@article.posted_by}"}
    %br
    %label Tags
    %br
    %input{:id => "article_tags", :name => "article_tags", :value => ""}
    %br
    %input{:type => "submit", :value => "Post"}
    or
    %a{:href => "/article/#{@article.permalink}"} Cancel

